@page
@model MangaUS.Pages.MangaCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Manga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manga.Titulo" class="control-label"></label>
                <input asp-for="Manga.Titulo" class="form-control" />
                <span asp-validation-for="Manga.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manga.Autor" class="control-label"></label>
                <input asp-for="Manga.Autor" class="form-control" />
                <span asp-validation-for="Manga.Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manga.GeneroId" class="control-label"></label>
                <select asp-for="Manga.GeneroId" class ="form-control" asp-items="ViewBag.GeneroId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Manga.Descricao" class="control-label"></label>
                <input asp-for="Manga.Descricao" class="form-control" />
                <span asp-validation-for="Manga.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manga.CapaManga" class="control-label"></label>
                <input asp-for="Manga.CapaManga" class="form-control" />
                <span asp-validation-for="Manga.CapaManga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manga.UsuarioId" class="control-label"></label>
                <select asp-for="Manga.UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Manga.DtCriacao" class="control-label"></label>
                <input asp-for="Manga.DtCriacao" class="form-control" />
                <span asp-validation-for="Manga.DtCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
